{% load static %}


<div class="d-navigation">
    <ul id="side-menu">
        <li class="{% if request.resolver_match.url_name == 'user_panel_dashboard' %}active{% endif %}">
            <a href="{% url 'user_panel_dashboard' %}"><i class="ti-user"></i>داشبورد</a></li>

        <li class="{% if request.resolver_match.url_name == 'change_password_page' %}active{% endif %}">
            <a href="{% url 'change_password_page' %}"><i class="ti-lock"></i>تغییر کلمه عبور</a></li>

        <li class="{% if request.resolver_match.url_name == 'user_panel_playlist_page' %}active{% endif %}">
            <a href="{% url 'user_panel_playlist_page' %}"><i class="ti-music"></i>لیست پخش ما</a></li>

        <li class="{% if request.resolver_match.url_name == 'user_payments' %}active{% endif %}">
            <a href="{% url 'user_payments' %}"><i class="ti-music"></i>لیست پرداخت ها</a></li>

        <li><a href="{% url 'logout_page' %}"><i class="ti-power-off"></i>خروج</a></li>
{#        <li><a href="#"><i class="ti-heart"></i>اطلاعات حساب</a></li>#}
{#        <li><a href="{% url 'edit_profile_page' %}"><i class="ti-heart"></i>ویرایش اطلاعات</a></li>#}

{#        <li><a href="#"><i class="ti-heart"></i>علاقمندی ها</a></li>#}

    </ul>
</div>


