{% extends 'shared/_MainAccountLayout.html' %}
{% load thumbnail %}
{% load static %}
{% block account_title %} فعالسازی حساب {% endblock %}
{% block form %}

    <div class="text-center">
        <a href="{% url 'home_page' %}" class="margin-bottom-custom">
            {% thumbnail setting.logo_ks "x40" quality=95 format="PNG" as im %}
                <img src="{{ im.url }}" class="img-fluid"
                     alt="{{ setting.title_ks }}">
            {% endthumbnail %}
        </a>
        <h4 id="title_register" class="logs_title margin-top-custom">کد
            <span class="theme-cl"> فعالسازی </span>

        </h4>
    </div>
    {% if request.user.is_authenticated %}
        <div class="alert alert-warning">شما قبلا وارد سایت شده اید.
            <a href="/"> خانه </a>
        </div>
    {% else %}
        <form id="activation_code_form" method="post" action="{% url 'activation_view' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {#            <button type="submit" class="btn btn-theme btn-rounded"> بررسی کد</button>#}
            <div class="text-center pt-1 mb-5 pb-1">
                <button id="submit_button" class=" btn-primary btn-block   mb-3 btn  btn-rounded" type="submit">
                    بررسی کد
                </button>
            </div>
        </form>
        <p id="timer"></p>
        <a id="retry_button" class="btn-primary btn-block mb-3 btn btn-rounded" href="{% url 'mobile_register_view' %}"
           style="display: none;">
            تلاش مجدد
        </a>
    {% endif %}

{% endblock %}
{% block account_text %} <p class="small mb-0 color-ks4">{{ setting.mobile_activation_text }}</p>{% endblock %}

{% block script_block %}
    <script>
        var form = document.getElementById("activation_code_form");
        var submitButton = document.getElementById("submit_button");
        var retryButton = document.getElementById("retry_button");

        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                submitButton.style.display = "none";
                retryButton.style.display = "block";
            }
            form.classList.add('was-validated');
        });


        var mobileViewUrl = "{% url 'mobile_register_view' %}";
        // فرض می‌کنیم که id فرم شما "myForm" است و id تایمر شما "timer" است
        var form = document.getElementById("activation_code_form");
        var timerElement = document.getElementById("timer");

        var startTimeStr = "{{ start_time }}";  // get the start time from the template
        var startTime = new Date(startTimeStr);
        var now = new Date();
        var timePassed = Math.floor((now - startTime) / 1000); // calculate the time passed in seconds
        var timeLeft = 180 - timePassed; // calculate the time left


        // تابع setInterval را فراخوانی می‌کنیم و به آن می‌گوییم که هر 1000 میلی‌ثانیه (یعنی 1 ثانیه) تابع داخلی را اجرا کند
        var timerId = setInterval(function () {
            timeLeft--; // زمان باقی‌مانده را کاهش می‌دهیم
            var minutes = Math.floor(timeLeft / 60);
            var seconds = timeLeft % 60;

            timerElement.innerText = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;


            if (timeLeft <= 0) {
                clearInterval(timerId); // اگر زمان به پایان رسید، تایمر را متوقف می‌کنیم
                form.disabled = true; // و فرم را غیرفعال می‌کنیم
                {#window.location.href = "/phone_view/"; // کاربر را به صفحه ورود شماره تلفن هدایت می‌کنیم#}
                window.location.href = mobileViewUrl;// کاربر را به صفحه ورود شماره تلفن هدایت می‌کنیم
            }
        }, 1000);

    </script>
{% endblock %}