{% load thumbnail %}
{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8"/>
    <meta name="author" content=""/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>ثیت نام در خیلی ساده ست</title>

    <!-- Custom CSS -->
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">

    <!-- Custom Color Option -->
    <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet">

    <!-- login register styles -->
    <link href="{% static 'assets/css/login_register.css' %}" rel="stylesheet">
</head>

<body class="log-bg rtl">
<!-- ========================== REGISTER START ============================= -->
<div id="main-wrapper">
    <div class="clearfix"></div>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <a href="{% url 'home_page' %}" class="margin-bottom-custom" >
                                            {% thumbnail setting.logo_ks "x40" quality=95 format="PNG" as im %}
                                                <img src="{{ im.url }}" class="img-fluid"
                                                     alt="{{ setting.title_ks }}">

                                            {% endthumbnail %}
                                        </a>
                                        <h4 id="title_register" class="logs_title margin-top-custom">برای تکمیل ثبت نام <span
                                                class="theme-cl"> نام کاربری </span>
                                            خود را انتخاب کنید
                                        </h4>
{#                                        <p id="mobileNumber">{{ mobile_number }}</p>#}
                                    </div>
                                    {% if request.user.is_authenticated %}
                                        <div class="alert alert-warning">شما قبلا وارد سایت شده اید.
                                            <a href="/"> خانه </a>
                                        </div>

                                    {% else %}
                                        <form id="register_form" method="post" action="{% url 'register_user' %}">
                                            {% csrf_token %}
                                            <p id="mobileNumber" class="text-center">{{ mobile_number }}</p>
                                            {{ register_form.mobile }}



                                            <div class="form-outline mb-4">
                                                <label>{{ register_form.username.label_tag }}</label>
                                                {{ register_form.username }}
                                                {{ register_form.username.errors }}
                                            </div>
                                            <h id="infoAlert" class="text-warning"></h>
                                            <div class="text-center pt-1 mb-5 pb-1">
                                                <button
                                                        class=" btn-primary btn-block   mb-3 btn  btn-rounded"
                                                        type="submit">تکمیل ثبت نام
                                                </button>
                                                <div class="form-group text-center mb-0 mt-3">
                                                    <a href="register_mobile/" class="theme-cl"> تغییر شماره تلفن  </a>
                                                </div>
                                            </div>
{#                                        <button type="submit"  class="btn btn-theme btn-rounded"> ثبت نام </button>#}
                                        </form>
                                    {% endif %}


                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-kh">
                                <div class="text-center text-white px-3 py-4 p-md-5 mx-md-4">
                                    <a href="{% url 'home_page' %}" class="">
                                        {% thumbnail setting.icon_ks "x150" quality=95 format="PNG" as im %}
                                            <img src="{{ im.url }}" class="img-fluid"
                                                 alt="{{ setting.title_ks }}">

                                        {% endthumbnail %}
                                    </a>
                                    <h4 class="mb-4 color-ks3"> {{ setting.title_ks }} </h4>
                                    <p class="small mb-0 color-ks4">{{ setting.register_username_text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ========================== End Mobile Activation ============================= -->


</div>
<!-- ========================== REGISTER END ============================= -->

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
{% include 'shared/_FooteRefernces.html' %}
{#<script src="{% static 'assets/js/ks-register.js' %}"></script>#}
<script src="{% static 'assets/js/ks-redirect-user-onback-pressed.js' %}"></script>




</body>

</html>