<h4 class="title">این مطلب برای شما مفید بود؟</h4>
<div class=" reviews-reaction">
    <a
       class="btn btn-light comment-like like {% if article_user_vote == 1 %}active{% endif %}"
        onclick="voteArticle({{ article.id }} , 1)">
        بله
        <i class="icofont-thumbs-up"></i>
        {{ article_likes_count }}
    </a>
    <a
       class="btn btn-light comment-like like {% if article_user_vote == 0 %}active{% endif %}"
        onclick="voteArticle({{ article.id }} , 0)">
        خیر
        <i class="icofont-thumbs-up"></i>
        {{ article_dislikes_count }}
    </a>
</div>