<h4 class="title">این مطلب برای شما مفید بود؟</h4>
<div class=" reviews-reaction">
    <a
       class="btn btn-light comment-like like {% if week_user_vote == 1 %}active{% endif %}"
        onclick="voteWeek({{ week.id }} , 1)">
        بله
        <i class="icofont-thumbs-up"></i>
        {{ week_likes_count|add:week.fake_like_count }}
    </a>
    <a
       class="btn btn-light comment-like like {% if week_user_vote == 0 %}active{% endif %}"
        onclick="voteWeek({{ week.id }} , 0)">
        نه
        <i class="icofont-thumbs-down"></i>
        {{ week_dislikes_count|add:week.fake_dislike_count }}
    </a>
</div>