{% extends 'shared/_MainLayout.html' %}
{% load thumbnail %}
{% load render_partial %}
{% load sorl_thumbnail %}
{% load static %}
{% block content %}
    <br><br><br>
    <section class="gray pt-5">
        <div class="container">

            <div class="row">
                {#  menu #}
                <div class="col-lg-3 col-md-3">
                    <div class="dashboard-navbar">
                        <div class="d-user-avater">

                            {% if current_user.is_superuser %}
                                {% thumbnail avatar.avatar_admin "x120" quality=90 as im %}
                                    <img src="{{ im.url }}" class="img-fluid avater" alt="{{ current_user.username }}">

                                {% endthumbnail %}
                            {% elif current_user.is_staff %}
                                {% thumbnail avatar.avatar_staff "x120" quality=90 as im %}
                                    <img src="{{ im.url }}" class="img-fluid avater" alt="{{ current_user.username }}">

                                {% endthumbnail %}
                            {% else %}
                                {% thumbnail avatar.avatar "x120" quality=90 as im %}
                                    <img src="{{ im.url }}" class="img-fluid avater" alt="{{ current_user.username }}">
                                {% endthumbnail %}
                            {% endif %}

                            <h4>{{ current_user.username }}</h4>
                            {% if current_user.get_full_name %}
                                <span>{{ current_user.get_full_name }}</span>
                            {% endif %}
                        </div>
                        {% render_partial 'ks_user_panel.views.user_panel_menu_parial' %}
                    </div>
                </div>
                {#bakhsh asli#}
                <div class="col-lg-9 col-md-9 col-sm-12">

                    <!-- Row برد کرامپ-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home_page' %}"> خانه </a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'user_panel_dashboard' %}"> داشبورد </a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page"> لیست پخش شما</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- /Row -->

                    <!--  playlist -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="dashboard_container">
                                <div class="dashboard_container_header">
                                    <div class="dashboard_fl_1">
                                        <h4> لیست پخش شما </h4>
                                    </div>
                                </div>
                                <div class="dashboard_container_body p-4">

                                    <div class="card-body pl-3 pr-3">
                                        {% if data.audios|length < 1 %}
                                            <p>
                                                لیست پخش ما خالی است. شما میتوانید از بین فایل های صوتی با لمس
                                                <span>
                                                    <a class="_cr_detail_arrow btn-over-light"
                                                       style="pointer-events: none"> <i class="fa fa-plus"></i> </a>
                                                </span>
                                                آن فایل را به لیست پخش خود اضافه کنید و در هر لحظه با لمس
                                                <span>
                                                    <a class="_cr_detail_arrow btn-over-light"
                                                       style="pointer-events: none"> <i class="fa fa-trash"></i> </a>
                                                </span>
                                                آن فایل را از لیست پخش خود حذف کنید.
                                            </p>

                                        {% else %}
                                            <p>
                                                شما میتوانید از بین فایل های صوتی با لمس
                                                <span>
                                                    <a class="_cr_detail_arrow btn-over-light"
                                                       style="pointer-events: none"> <i class="fa fa-plus"></i> </a>
                                                </span>
                                                آن فایل را به لیست پخش خود اضافه کنید و در هر لحظه با لمس
                                                <span>
                                                    <a class="_cr_detail_arrow btn-over-light"
                                                       style="pointer-events: none"> <i class="fa fa-trash"></i> </a>
                                                </span>
                                                آن فایل را از لیست پخش خود حذف کنید.
                                            </p>
                                            <hr>
                                            <ul>
                                                {% for audio in data.audios %}
                                                    {% if audio.is_lock == "False" %}
                                                        <li>
                                                            <div>
                                                                <div class="row mt-3">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="audio_number">
                                                                                <strong>{{ forloop.counter }}</strong>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li>
                                                                            <div class="audio_title"><i
                                                                                    class="ml-2"></i>{{ audio.name }}
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div>
                                                                    <div class="player{{ audio.id }} free"
                                                                         dir="ltr"></div>
                                                                </div>
                                                                <div class="vote-area">
                                                                    <div id="audioVoteArea{{ audio.id }}"
                                                                         class="row mt-3 align-to-left">
                                                                        {% if audio.model == 'Week' %}
                                                                            {% include 'vote/includes/audio_vote_partial.html' with audio=audio like_count=audio.like_count dislike_count=audio.dislike_count user_vote=audio.user_vote added_playlist=audio.added_playlist page='WEEK' %}
                                                                        {% else %} <!-- then its model is CCDetail -->
                                                                            {% include 'vote/includes/audio_vote_partial.html' with audio=audio like_count=audio.like_count dislike_count=audio.dislike_count user_vote=audio.user_vote added_playlist=audio.added_playlist page='CCDETAIL' %}
                                                                        {% endif %}

                                                                    </div>
                                                                </div>

                                                                <div class="clearfix"></div>
                                                                {% if audio.chapters|length != 0 %}
                                                                    <div class="border border-light-gray">
                                                                        <p class=" font-bold">
                                                                            <span class="fa fa-pen"></span>
                                                                            آنچه در این پادکست مورد بررسی
                                                                            قرار میگیرد.</p>
                                                                        <ul>
                                                                            {% for chapter in audio.chapters %}
                                                                                <li>
                                                                                    <i class="ti-music"></i>
                                                                                    <a onclick="myUpdateChapter({{ audio.id }},{{ forloop.counter }})"
                                                                                       class="btn "> {{ chapter.name }}</a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </li>
                                                    {% else %}
                                                        {% if has_perm %}
                                                            <li>
                                                                <div class="row mt-3">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="audio_number">
                                                                                <strong>{{ forloop.counter }}</strong>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li>
                                                                            <div class="audio_title"><i
                                                                                    class="fa fa-lock-open ml-2"></i>{{ audio.name }}
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div>
                                                                    <div>
                                                                        <div class="player{{ audio.id }} locked"
                                                                             dir="ltr"></div>
                                                                    </div>
                                                                    <div class="vote-area">
                                                                        <div id="audioVoteArea{{ audio.id }}"
                                                                             class="row mt-3 align-to-left">
                                                                            {% if audio.model == 'Week' %}
                                                                                {% include 'vote/includes/audio_vote_partial.html' with audio=audio like_count=audio.like_count dislike_count=audio.dislike_count user_vote=audio.user_vote added_playlist=audio.added_playlist page='WEEK' %}
                                                                            {% else %}
                                                                                <!-- then its model is CCDetail -->
                                                                                {% include 'vote/includes/audio_vote_partial.html' with audio=audio like_count=audio.like_count dislike_count=audio.dislike_count user_vote=audio.user_vote added_playlist=audio.added_playlist page='CCDETAIL' %}
                                                                            {% endif %}

                                                                        </div>
                                                                    </div>

                                                                    <div class="clearfix"></div>
                                                                    {% if audio.chapters|length != 0 %}
                                                                        <div class="border border-light-gray">
                                                                            <p class=" font-bold">
                                                                                <span class="fa fa-pen"></span>
                                                                                آنچه در این پادکست مورد بررسی
                                                                                قرار میگیرد.</p>
                                                                            <ul>
                                                                                {% for chapter in audio.chapters %}
                                                                                    <li>
                                                                                        <i class="ti-music"></i>
                                                                                        <a onclick="myUpdateChapter({{ audio.id }},{{ forloop.counter }})"
                                                                                           class="btn "> {{ chapter.name }}</a>
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </li>
                                                        {% else %}
                                                            <li>
                                                                <div class="row mt-3">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="audio_number">
                                                                                <strong>{{ forloop.counter }}</strong>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li>
                                                                            <div class="audio_title"><i
                                                                                    class="fa fa-lock ml-2"></i>{{ audio.name }}
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                                {% if audio.chapters|length != 0 %}
                                                                    <div class="border border-light-gray">
                                                                        <p class=" font-bold">
                                                                            <span class="fa fa-pen"></span>
                                                                            آنچه در این پادکست مورد بررسی
                                                                            قرار میگیرد.</p>
                                                                        <ul>
                                                                            {% for chapter in audio.chapters %}
                                                                                <li>
                                                                                    <i class="ti-music"> {{ chapter.name }} </i>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                {% endif %}
                                                                <div>

                                                                    <div class="border border-light-gray2 text-center">
                                                                        <p>
                                                                            برای دسترسی به محتوای کامل این درس باید
                                                                            اشتراک «خیلی ساده‌ست» را خریداری کنید.
                                                                            <br>

                                                                        </p>
                                                                        <a href="{% url 'plans_list' %}"
                                                                           class="btn btn-light btn-buy"> خرید
                                                                            دوره </a>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        {% endif %}

                                                    {% endif %}
                                                    <hr>
                                                {% endfor %}

                                            </ul>
                                        {% endif %}


                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </section>

{% endblock %}
{% comment %}
{% block footer_ref %}
    <script src="{% static 'assets/js/dropzone.js' %}"></script>

    <!-- Date Booking Script -->
    <script src="{% static 'assets/js/moment.js' %}"></script>
    <script src="{% static 'assets/js/moment-jalaali.js' %}"></script>
    <script src="{% static 'assets/js/daterangepicker-fa-ex.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/js/metisMenu.min.js' %}"></script>
    <script>
        $('#side-menu').metisMenu();
    </script>

    <script>
        // Course Expire and Start Daterange Script

        $(function () {
            $('input[id="birthday"]').daterangepicker({
                singleDatePicker: true,
                format: 'jYYYY/jMM/jDD',
                jalaali: true,

            });

        });
    </script>
{% endblock %}{% endcomment %}
{% block header_ref_top %}
    <script src="{% static 'bundle.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/base.css' %}">
    <script src="{% static 'bundle_sweetalert.js' %}"></script>
{% endblock %}
{% block footer_ref_top %}
    <script>

        class KPlayer {
            constructor(audio_id, player) {
                this.audio_id = audio_id;
                this.player = player;
            }
        }

        Player.use(Chapter);
        let data_js = {{data_js|safe}};
        let kplayers = [];
        $.each(data_js.audios, function (audion_index, audio) {
            kplayers.push(new KPlayer(audio.id, null));
        })


        console.log("clicked acardeon");
        $.each(data_js.audios, function (audion_index, audio) {
            console.log("-----clicked audio " + audio.id);
            var kplayer = kplayers.find(kplayer => kplayer.audio_id === audio.id);
            if (kplayer.player === null) {
                if (audio.audio_url !== "LOCKED") {
                    console.log("-----null player audio " + audio.id);
                    player_chapters = [];
                    $.each(audio.chapters, function (chapter_index, chapter) {
                        console.log("-----chapter  " + chapter.title);
                        player_chapters.push({
                            'id': chapter.id,
                            'startTime': chapter.start_time,
                            'title': chapter.title,
                        })
                    })
                    console.log(player_chapters);

                    kplayer.player = new Player({
                        container: document.querySelector('.player' + audio.id),
                        audio: {
                            title: audio.title,
                            artist: audio.artist,
                            chapters: player_chapters,
                            {#src: audio.audio_url,#}
                            src: audio.url,
                            cover: audio.image_url
                        },
                        themeColor: audio.theme_color,
                        theme: 'dark',
                        fixed: {
                            type: 'static',

                        },
                    });
                } else {
                    console.log("audio is LOCKED!");
                }

            }
            console.log("++++ kplayers  " + kplayers);

        })


        function myUpdateChapter(audio_id, chapter_index) {
            var kplayer = kplayers.find(kplayer => kplayer.audio_id === audio_id);
            kplayer.player.updateChapter(chapter_index - 1);
            {#eval('var current_player = player' + audio_id + ';');#}
            {#current_player = updateChapter(chapter_index);#}
        }
    </script>

{% endblock %}
{% block footer_ref %}
    <script src="{% static 'assets/js/ks-ccdetail-comment.js' %}"></script>
    <script src="{% static 'assets/js/ks-votes.js' %}"></script>
{% endblock %}