<section class="pt-0 ">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <p>بلاگ</p>
                    <h2>آخرین <span class="theme-cl">مقاله‌های</span> «خیلی ساده‌ست»</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="four_slide-dots articles arrow_middle" dir="rtl">
                    {% for article in articles %}
                        <!-- Single Slide -->
                        {% comment %}{% include 'components/article_slide_component.html' with article=article %}{% endcomment %}
                        {% include 'components/article_card_component.html' with article=article %}
                    {% endfor %}


                </div>

            </div>
        </div>

    </div>
</section>