{% load static %}
<div class="image-cover half_banner" style="background:#0b2248 url({% static 'assets/img/banner2.jpg' %}) no-repeat;">
    <div class="container">
        <!-- Type -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% comment %}<div class="banner-search-2 container-text-banner">
                    <img src="{% static 'assets/img/banner-text-background.png' %}" class="img-fluid"
                         alt="تربیت فرزند خیلی ساده ست"/>
                    <div class="centered">
                        <h1 class="cl_2 mb-1 banner-title">مرجع صوتی تربیت فرزند<br><span class="theme-cl"> ساده و کاربردی </span>
                        </h1>
                        <p class="banner-description">
                            «فرزندپروری به زبان ساده بر اساس آخرین مطالعات علمی دنیا»


                        </p>
                    </div>
                </div>{% endcomment %}
                <div class="banner-title-text container-text-banner"
                     style="background-image: url('{% static 'assets/img/banner-text-background.png' %}');">
                    <div class="centered" >
                        <h1 class="cl_2 mb-1 banner-title">مرجع صوتی تربیت فرزند<br><span class="theme-cl"> ساده و کاربردی </span>
                        </h1>
                        <p class="banner-description">
                            «فرزندپروری به زبان ساده بر اساس آخرین مطالعات علمی دنیا»
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>