<section class="pt-0">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <h2><span class="theme-cl">اشتراک های </span> «خیلی ساده‌ست»</h2>
                </div>
            </div>
        </div>

        <div class="row">
            {% for plan in plans %}
                    <!-- Single Package -->
                    <div class="col-lg-4 col-md-4">
                        <div class="packages_wrapping {% if plan.is_recommended %} recommended {% endif %}">

                            <div class="packages_headers">
                                <i class="lni-star"></i>
                                <h4 class="packages_pr_title">{{ plan.name }}</h4>
                                {% comment %}<span class="packages_price-subtitle">{{ plan.short_description }}</span>{% endcomment %}
                            </div>
                            <div class="packages_price">
                                <h4 class="pr-value">{{ plan.price_1000 }}</h4>
                            </div>
                            <div class="packages_middlebody">
                                <p>{{ plan.description_rich|safe }}</p>
                                {% comment %}{% if plan.courses.all %}
                                    <h5> + هدیه ویژه دسترسی کامل به </h5>
                                    {% else %}
                                    <h5>---</h5>
                                {% endif %}{% endcomment %}
                                {% comment %}<ul>
										<li>درج 7 رشته تدریس</li>
										<li>ارتباط مستقیم با واتساپ استاد</li>
										<li>الویت نمایش و بازدید بالا</li>
									</ul>{% endcomment %}
                            </div>
                            {% comment %}<div class="packages_middlebody">
                                <ul class="plan_items_ul">
                                    {% for course in plan.courses.all %}
                                        <li class="fa fa-minus">
                                            <a href="{{ course.get_absolute_url }}" class="btn-browse-btn">
                                                دوره {{ course.name }}  </a>

                                        </li>
                                        <br>
                                    {% endfor %}
                                </ul>
                            </div>{% endcomment %}
                            <div class="packages_bottombody">
                                <a href="{{ plan.get_absolute_url }}" class="btn-pricing">انتخاب</a>
                            </div>

                        </div>
                    </div>

                {% endfor %}
        </div>

    </div>
</section>