<div class="singles_items slick-slide" style="width: 270px;" tabindex="-1" role="option"
     aria-describedby="slick-slide03" data-slick-index="3" aria-hidden="true">
    <div class="education_block_grid style_2">
        <div class="education_block_thumb n-shadow">
            <a href="course-detail.html" tabindex="-1"><img src="assets/img/co-4.jpg" class="img-fluid" alt=""></a>
            <div class="cources_price">365 تومان</div>
        </div>

        <div class="education_block_body">
            <h4 class="bl-title"><a href="course-detail.html" tabindex="-1">آموزش برنامه نویسی‌اندروید</a></h4>
        </div>


    </div>
</div>