{% comment %}
<div class="trips_wrap full colored">
    <div class="container">
        <div class="row m-0">

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="trips">
                    <div class="trips_icons">
                        <i class="ti-book"></i>
                    </div>
                    <div class="trips_detail">
                        <h4>مطالب علی</h4>
                        <p>از منابع معتبر</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="trips">
                    <div class="trips_icons">
                        <i class="ti-face-smile"></i>
                    </div>
                    <div class="trips_detail">
                        <h4>خیلی ساده</h4>
                        <p>با زبان ساده وقابل فهم</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="trips">
                    <div class="trips_icons">
                        <i class="ti-headphone"></i>
                    </div>
                    <div class="trips_detail">
                        <h4>پادکست محور</h4>
                        <p>پادکست های صوتی کوتاه</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="trips none">
                    <div class="trips_icons">
                        <i class="ti-star"></i>
                    </div>
                    <div class="trips_detail">
                        <h4>رایگان و ارزان</h4>
                        <p>مطالب مفید </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endcomment %}


<section class="p-0 trips_top">
    <div class="container">
        <div class="trips_wrap">
            <div class="row m-0">

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips light-colors">
                        <div class="trips_icons">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="trips_detail">
                            <h4>مطالب مستند و علمی</h4>
                            <p>دسترسی به منابع علمی و معتبر فرزندپروری</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips light-colors">
                        <div class="trips_icons">
                            <i class="ti-face-smile"></i>
                        </div>
                        <div class="trips_detail">
                            <h4>با بیان ساده و قابل فهم</h4>
                            <p>با بیان ساده و قابل فهم</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips light-colors">
                        <div class="trips_icons">
                            <i class="fa fa-headphones"></i>
                        </div>
                        <div class="trips_detail">
                            <h4>پادکست محور</h4>
                            <p>ارائه‌ی مطالب در قالب فایل‌های صوتی کوتاه</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>