{% load static %}
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/slick.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/counterup.min.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/js/ks-reload-user-status.js' %}"></script>
<script>
        $(document).ready(function () {
            notif('تاریخ رونمایی رسمی «خیلی ساده‌ست»: 15 فروردین 1403');
        });

    </script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->