{% load static %}
<!-- Custom CSS -->
<link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
<!-- My Custom CSS -->
<link href="{% static 'assets/css/my-custom.css' %}" rel="stylesheet">

<!-- Custom Color Option -->
<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet">

<meta name="theme-color" content="#C5CEE2FF">

<!-- Notif for news notifications -->
<link rel="stylesheet" href="{% static 'assets/css/notif.css' %}">
<script src="{% static 'assets/js/notif.js' %}"></script>
