{% extends 'shared/_MainLayout.html' %}
{% load poll_extras %}
{% load thumbnail %}
{% load static %}
{% block title %} {{ category.name }} {% endblock %}
{% block content %}
    <!-- ============================ Course header Info Start================================== -->
    <div class="ed_detail_head lg bg-light py-5">
        <div class="container py-5">
            <h4 class="text-center"> {{ category.name }} / {{ category.title }} </h4>
            <h4 class="text-center text-info"> <small>دسته سنی:</small> {{ category.age_range }} </h4>
            <div class="row align-items-center">

                <div class="col-lg-6 col-md-6">

                    <div class="img-responsive">

                        {% if category.image %}
                            {% thumbnail category.image "640" quality=90 as im %}
                                <img src="{{ im.url }}" class="img-fluid corner-radius"
                                     alt="{{ category.alt_image }}">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{% static 'assets/img/audio-no-image.jpg' %}" class="img-fluid corner-radius"
                                 alt="{{ category.alt_image }}">
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="ed_detail_wrap">
                        <ul class="list_ed_detail2">
                            {% if WEEK_AUDIO_URL %}
                                <a href="{% url 'weekly' %}">
                                    <li class="tag-4">
                                        <audio id="playerChapterWeek"
                                               onplay="onplay_audio('Week')"
                                               onpause="onpause_play('Week')"
                                               src="{{ WEEK_AUDIO_URL }}"></audio>
                                        <i class="ti-headphone"></i>
                                        هفته به هفته
                                        <a class="btn align-to-left demo-audio"
                                           id="aChapterWeek"
                                           onclick="play_onclick('Week')">
                                            <i class="fa fa-play" id="iChapterWeek"></i>
                                            معرفی
                                        </a>

                                        {% comment %}<i id="timeChapterWeek" class="align-to-left">00:24</i>{% endcomment %}
                                    </li>

                                </a>
                                <br>
                            {% endif %}
                            {% for chapter in data.chapters %}
                                {% comment %}<a href="/{{ category.id }}/{{ chapter.id }}/{{ chapter.slug }}">{% endcomment %}
                                <a href="{% url 'category-chapter-detail' category.id chapter.id chapter.slug %}">
                                    <li class="tag-{{ forloop.counter|add:"-1"|mod:5|add:"1" }}">
                                        {% comment %}<audio id="playerChapter{{ chapter.id }}"
                                               onplay="onplay_audio({{ chapter.id }})"
                                               onpause="onpause_play({{ chapter.id }})"
                                               src="{{ chapter.audio_url }}"></audio>{% endcomment %}
                                        <i class="ti-headphone"></i>
                                        {{ chapter.name }} / <small>{{ chapter.title }}</small>
                                        <small class="align-to-left">({{ chapter.audio_count }} پادکست)</small>

                                        {% comment %}<a class="btn align-to-left demo-audio"
                                           id="aChapterWeek"
                                           onclick="play_onclick({{ chapter.id }})">
                                            <i class="fa fa-play" id="iChapter{{ chapter.id }}"></i>
                                            معرفی
                                        </a>{% endcomment %}
                                        {% comment %}<i id="timeChapter{{ chapter.id }}" class="align-to-left">00:24</i>{% endcomment %}
                                    </li>
                                </a>
                                <br>
                            {% endfor %}
                            {% if has_campaign %}
                                {% if user_chart %}
                                    <a href="{{ user_chart.url }}">
                                    <li class="tag-chart">
                                        <i class="ti-layout-grid2"></i>
                                        {{ user_chart.name }} / <small>{{ user_chart.title }}</small>

                                    </li>
                                </a>
                                {% endif %}
                            {% endif %}
                            <br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Course Header Info End ================================== -->


    {% block footer_ref_top %}
        <script src="{% static 'assets/js/ks-audio-in-category.js' %}"></script>
    {% endblock %}
{% endblock %}
