{% extends 'shared/_MainLayout.html' %}
{% load smooth_timedelta %}
{% load thumbnail %}
{% load poll_extras %}
{% load static %}

{% block title %} {{ ccdetail.name }} {% endblock %}
{% block content %}

    <!-- ============================ Page title Start================================== -->
    {% comment %}<div class="ed_detail_head py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-5">
                    <div>
                        <div class="img-responsive">
                            {% if ccdetail.image %}
                                {% thumbnail ccdetail.image "640" quality=90 as im %}
                                    <img src="{{ im.url }}" class="img-fluid corner-radius"
                                         alt="{{ ccdetail.alt_image }}">
                                {% endthumbnail %}
                            {% else %}
                                <img src="{% static 'assets/img/audio-no-image.jpg' %}" class="img-fluid corner-radius"
                                     alt="{{ ccdetail.alt_image }}">
                            {% endif %}

                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-7">
                    <div class="ed_detail_wrap">
                        <div class="ed_header_caption">
                            <h2 class="ed_title">{{ ccdetail.name }}</h2>
                            <ul>
                                <li>
                                    <i class="ti-eye"></i> {{ ccdetail.ccdetailvisit_set.count|add:ccdetail.fake_visit_count }}
                                    بازدید
                                </li>
                                <li><i class="ti-music"></i> {{ ccdetail.audio_count }} درس</li>
                            </ul>
                        </div>
                        <div class="ed_header_short">
                            {% if ccdetail.description|wordcount  > 150 %}
                                <p id="description_p">{{ ccdetail.description|truncatewords:150 }}
                                    <a onclick="showMoreDescription('{{ ccdetail.description }}')" class="link btn"> [
                                        بیشتر ]</a>
                                </p>
                            {% else %}
                                <p> {{ ccdetail.description }} </p>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>{% endcomment %}

    <div id="imageCover" class="image-cover ed_detail_head lg theme-ov" data-overlay="9" style="background: #f4f4f4;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-7 col-md-7">
                    <div class="ed_detail_wrap light">
                        <ul class="cources_facts_list">
                            <li class="facts-1 text-lite">{{ ccdetail.title }}</li>
                            {#                            <li class="facts-5">طراحی سایت</li>#}
                        </ul>
                        <div class="ed_header_caption">
                            <h3 class="ed_title2">{{ ccdetail.name }}</h3>
                            <ul>
                                <li><i class="ti-time"></i> مدت زمان:{{ ccdetail.audios_duration|smooth_timedelta }}
                                </li>
                                <li><i class="ti-headphone"></i> {{ ccdetail.audio_count }} فایل صوتی</li>
                                <li><i class="ti-shine"></i> {{ ccdetail.age_category }} </li>
                                {#                                <li><i class="ti-user"></i> {{ ccdetail.student_count }} هنرجو</li>#}
                            </ul>
                        </div>
                        {#                        <div class="ed_header_short">#}
                        {#                            <p>{{ ccdetail.short_description|safe }}</p>#}
                        {#                        </div>#}
                        {#                        <div class="ed_rate_info">#}
                        {#                            <div class="star_info">#}
                        {#                                <i class="fas fa-star filled"></i>#}
                        {#                                <i class="fas fa-star filled"></i>#}
                        {#                                <i class="fas fa-star filled"></i>#}
                        {#                                <i class="fas fa-star filled"></i>#}
                        {#                                <i class="fas fa-star"></i>#}
                        {#                            </div>#}
                        {#                            <div class="review_counter">#}
                        {#                                <strong class="high">4</strong>  امتیاز#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if ccdetail.image %}
        {% thumbnail ccdetail.image "2400x1000" quality=100 as im %}
            <img id="hiddenImage" src="{{ im.url }}" style="display: none;" onload="adjustCoverSize(this)">
        {% endthumbnail %}
    {% else %}
        <img id="hiddenImage" src="{% static 'assets/img/audio-no-image.jpg' %}" style="display: none;"
             onload="adjustCoverSize(this)">
    {% endif %}






    <!-- ============================ page title End ================================== -->

    <!-- ============================ ccdetail Detail ================================== -->
    <section>
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8">

                    <!-- آکاردون ها -->
                    <div class="edu_wraper border">
                        <h4 class="edu_title">سرفصل درس‌ها</h4>
                        <div id="accordionExample" class="accordion shadow circullum">
                            {% for section in sections %}
                                <div class="card">
                                    <div id="heading{{ forloop.counter }}"
                                         class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0 accordion_title">
                                            <a href="#" data-toggle="collapse"
                                               data-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                                               aria-controls="collapse{{ forloop.counter }}"
                                               class="d-block position-relative text-dark collapsible-link py-2 collapsed">
                                                {{ section.name }} <small>({{ section.section_audio_count }}
                                                درس)</small>
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse{{ forloop.counter }}"
                                         aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample"
                                         class="collapse" style="">
                                        <div class="card-body pl-3 pr-3">
                                            <p>{{ section.description|safe }}</p>
                                            <div class="row">
                                                {% for audio in section.audio_set.all|is_active_filter %}
                                                    {% include 'components/audio_card_component.html' with audio=audio %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>
                <!-- Sidebar -->
                <div class="col-lg-4 col-md-4">
                    <!-- ویژگی ها -->
                    {% comment %}{% include 'includes/features.html' with object=ccdetail audio_count=audio_count has_perm=has_perm duration=duration %}{% endcomment %}

                    <!-- categories -->
                    {% include 'components/mini_category_list_component.html' with categories=categories %}
                    <!-- Register -->
                    {% include 'includes/register_component.html' with request=request %}

                    {% include 'includes/ccdetail_tags_component.html' with tags=tags %}
                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Course Detail ================================== -->


{% endblock %}
{% block header_ref_top %}

{% endblock %}
{% block footer_ref_top %}
    <script type="text/javascript">

        $(document).ready(function () {
            var hiddenImage = document.getElementById('hiddenImage');

            // تنظیم نسبت تصویر بر اساس عرض صفحه قبل از لود تصویر
            setCoverAspectRatio();

            if (hiddenImage) {
                hiddenImage.onload = function () {
                    adjustCoverSize(hiddenImage);
                };

                // اگر تصویر لود نشد، مجددا سعی در تنظیم نسبت تصویر
                hiddenImage.onerror = function () {
                    console.error("Error loading image. Using default aspect ratio.");
                    setCoverAspectRatio(); // تلاش مجدد برای تنظیم نسبت تصویر
                };
            }
        });

        $(window).on('pageshow', function (event) {
            var hiddenImage = document.getElementById('hiddenImage');

            // تنظیم نسبت تصویر بر اساس عرض صفحه در pageshow
            setCoverAspectRatio();

            if (hiddenImage && hiddenImage.complete) {
                adjustCoverSize(hiddenImage);
            } else if (hiddenImage) {
                hiddenImage.onload = function () {
                    adjustCoverSize(hiddenImage);
                };

                hiddenImage.onerror = function () {
                    console.error("Error loading image. Using default aspect ratio.");
                    setCoverAspectRatio();
                };
            }
        });


        function setCoverAspectRatio() {
            var cover = document.getElementById('imageCover');
            cover.style.height = (cover.offsetWidth * 5 / 12) + 'px';
        }

        function adjustCoverSize(img) {
            console.log("Image loaded with size: " + img.naturalWidth + "x" + img.naturalHeight);
            var cover = document.getElementById('imageCover');
            var ratio = img.naturalWidth / img.naturalHeight; // نسبت تصویر

            if (ratio > 12 / 5) {
                // تصویر عریض‌تر از نسبت 12:5 است، بنابراین باید عرض را برش دهیم
                cover.style.backgroundImage = 'url(' + img.src + ')';
                cover.style.backgroundSize = 'cover';
                cover.style.backgroundPosition = 'center center';
            } else {
                // تصویر به اندازه مناسب است
                cover.style.backgroundImage = 'url(' + img.src + ')';
                cover.style.backgroundSize = 'cover';
                cover.style.backgroundPosition = 'center center';
            }

            // تنظیم ارتفاع بخش به نسبت 12:5 (اینجا هم برای اطمینان تکرار شده)
            cover.style.height = (cover.offsetWidth * 5 / 12) + 'px';
        }
    </script>


    {% comment %}<script type="text/javascript">
        $(document).ready(function () {
            var hiddenImage = document.getElementById('hiddenImage');
            hiddenImage.onload = function () {
                adjustCoverSize(hiddenImage);
            };
        });

        $(window).on('pageshow', function (event) {
            var hiddenImage = document.getElementById('hiddenImage');
            hiddenImage.onload = function () {
                adjustCoverSize(hiddenImage);
            };
        });


        function adjustCoverSize(img) {
            console.log("Image loaded with size: " + img.naturalWidth + "x" + img.naturalHeight);
            var cover = document.getElementById('imageCover');
            var ratio = img.naturalWidth / img.naturalHeight; // نسبت تصویر

            if (ratio > 12 / 5) {
                // تصویر عریض‌تر از نسبت 12:5 است، بنابراین باید عرض را برش دهیم
                cover.style.backgroundImage = 'url(' + img.src + ')';
                cover.style.backgroundSize = 'cover';
                cover.style.backgroundPosition = 'center center';
            } else {
                // تصویر به اندازه مناسب است
                cover.style.backgroundImage = 'url(' + img.src + ')';
                cover.style.backgroundSize = 'cover';
                cover.style.backgroundPosition = 'center center';
            }

            // تنظیم ارتفاع بخش به نسبت 12:5
            cover.style.height = (cover.offsetWidth * 5 / 12) + 'px';
        }
    </script>
{% endcomment %}
{% endblock %}
{% block footer_ref %}
    <script src="{% static 'assets/js/ks-votes.js' %}"></script>
{% endblock %}