{% load smooth_timedelta %}
{% load jalali_tags %}
<div class="edu_wraper border">
    <h4 class="edu_title">ویژگی های دوره</h4>
    <ul class="edu_list right">
        <li><i class="ti-user"></i>تعداد دانشجو:<strong> {{ course.students|add:course.fake_students_count  }} </strong></li>
        <li><i class="ti-files"></i>تعداد درس ها:<strong> {{ course.audio_count }} </strong></li>
        <li><i class="ti-time"></i>مدت دوره:
            <strong>
                {% comment %}{{ course.audios_duration|time:"H:i" }}{% endcomment %}
                {{ course.audios_duration|smooth_timedelta  }}
            </strong></li>
        <li><i class="ti-flag-alt"></i>قالب دوره:<strong>پادکست</strong></li>
        <li><i class="ti-shine"></i>تمرین:<strong>
            {% if course.has_practice %}دارد
            {% else %}ندارد
            {% endif %}
        </strong></li>
        <li><i class="ti-shine"></i>نوع دوره:<strong>نقدی</strong></li>
        <li><i class="ti-shine"></i>مناسب:<strong>{{ course.age_category }}</strong></li>
        <li><i class="ti-time"></i>آخرین به روزرسانی:
            <strong>
                <span class=" ml-2" dir="ltr">
                    {{ course.last_update|to_jalali:'%d %B %Y' }}
                </span>
            </strong></li>
        {% if has_perm %}
            <li>

                <div class="foot_lecture text-center">
                    <span class="sg_rate foot_lecture"> خریداری شده </span>
                </div>
            </li>
        {% else %}
            <li>
                <div class=" text-center">
                    <span class="sg_rate theme-cl price_off"> <del> {{ course.fake_price_1000 }} هزار تومان </del>  </span>
                </div>
                <div class="foot_lecture text-center">
                    <span class="sg_rate foot_lecture">  {{ course.price_1000 }} هزار تومان   </span>
                </div>
            </li>
        {% endif %}
    </ul>
    {% if not has_perm %}
        <div class="packages_bottombody">
            <a href="{{ course.get_absolute_url_price }}" class="btn btn-theme btn-rounded"> خرید دوره </a>
        </div>
    {% endif %}

</div>